.frameChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm) var(--br-sm) 0 0;
  background-color: var(--color-pink);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 1240px;
  height: 76px;
}
.nowAboutYour {
  position: absolute;
  top: 25px;
  left: 42px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.2px;
  line-height: 32px;
  font-weight: 500;
  color: var(--color-black);
  display: flex;
  align-items: center;
  width: 490px;
  height: 26px;
}
.frameItem {
  position: absolute;
  top: 75px;
  left: 0;
  width: 1240px;
  height: 2px;
}
.inputoutline,
.inputoutline1 {
  background-color: transparent;
  position: absolute;
  top: 167px;
  left: 38px;
}
.inputoutline1 {
  top: 334px;
}
.buttonsolidTextAndIcon {
  position: absolute;
  top: 743px;
  left: 466px;
}
.addReferenceImages,
.bounty,
.numberOfTarget,
.whatAreYou {
  position: absolute;
  top: 123px;
  left: 38px;
  font-size: var(--font-size-lg);
  letter-spacing: 0.15px;
  line-height: 40px;
  display: flex;
  align-items: center;
  width: 354px;
  height: 35px;
}
.addReferenceImages,
.bounty,
.numberOfTarget {
  top: 115px;
  left: 704px;
}
.bounty,
.numberOfTarget {
  top: 463px;
  left: 38px;
  width: 464px;
}
.numberOfTarget {
  top: 290px;
  width: 614px;
}
.frameInner,
.rectangleDiv {
  position: absolute;
  top: 167px;
  left: 704px;
  border-radius: var(--br-sm);
  border: 1px dashed var(--color-black);
  box-sizing: border-box;
  width: 235px;
  height: 207px;
}
.rectangleDiv {
  left: 966px;
}
.imageAltIcon,
.imageAltIcon1 {
  position: absolute;
  top: 254px;
  left: 811px;
  width: 21px;
  height: 21px;
}
.imageAltIcon1 {
  left: 1073px;
}
.inputoutline2,
.inputoutline3,
.inputoutline4 {
  background-color: transparent;
  position: absolute;
  top: 591px;
  left: 38px;
}
.inputoutline3,
.inputoutline4 {
  left: 428px;
}
.inputoutline4 {
  top: 587px;
  left: 818px;
}
.admin,
.contirbutor,
.forEveryContribution,
.forEveryLegitimate,
.forFineTuning,
.storageProvider {
  position: absolute;
  top: 537px;
  left: 38px;
  letter-spacing: 0.15px;
  line-height: 16px;
  color: var(--color-gray-400);
  display: flex;
  align-items: center;
  width: 59px;
  height: 22px;
}
.contirbutor,
.forEveryContribution,
.forEveryLegitimate,
.forFineTuning,
.storageProvider {
  left: 429px;
  width: 95px;
}
.forEveryContribution,
.forEveryLegitimate,
.forFineTuning,
.storageProvider {
  left: 819px;
  width: 140px;
}
.forEveryContribution,
.forEveryLegitimate,
.forFineTuning {
  top: 564px;
  color: var(--color-gray-500);
  width: 335px;
  height: 18px;
}
.forEveryLegitimate,
.forFineTuning {
  left: 429px;
}
.forFineTuning {
  left: 38px;
}
.headerBg,
.rectangleParent {
  position: absolute;
  box-sizing: border-box;
}
.rectangleParent {
  top: 160px;
  left: 20px;
  border-radius: var(--br-sm);
  border: 2px solid var(--color-black);
  width: 1240px;
  height: 840px;
}
.headerBg {
  height: calc(100% + 2px);
  width: 100%;
  top: 0;
  right: 0;
  bottom: -2px;
  left: 0;
  background-color: var(--light-white);
  border-bottom: 2px solid var(--light-black);
}
.iconOutlinedActionMai {
  position: absolute;
  top: calc(50% - 12px);
  right: 165px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  display: none;
}
.companyLogo,
.logo {
  position: absolute;
  top: calc(50% - 16px);
}
.logo {
  width: 100%;
  left: 0;
  font-size: var(--font-size-base);
  letter-spacing: 0.2px;
  line-height: 32px;
  text-transform: uppercase;
  display: none;
  font-family: var(--font-lato);
  color: var(--main-blue);
  text-align: left;
  align-items: center;
}
.companyLogo {
  left: 165px;
  width: 69px;
  height: 32px;
}
.itemFirst,
.itemFour,
.itemThree {
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.2px;
  line-height: 18px;
  font-family: var(--font-dm-sans);
  color: var(--color-gray-100);
  text-align: left;
}
.itemFour,
.itemThree {
  display: none;
}
.itemFour {
  font-size: var(--semibold-14-size);
  font-weight: 600;
  font-family: var(--semibold-14);
  color: var(--light-black);
}
.links {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 213.5px);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.lightLogoLeft5LinksCe {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 88px;
}
.ellipseIcon,
.frameIcon {
  position: absolute;
  top: -1px;
  left: 0;
  width: 48px;
  height: 50px;
}
.frameIcon {
  top: 0;
  height: 48px;
  overflow: hidden;
}
.address {
  position: absolute;
  top: 15px;
  left: 62px;
  font-size: var(--font-size-2xs);
  letter-spacing: 0.2px;
  line-height: 16px;
  text-transform: capitalize;
  display: flex;
  font-family: var(--font-dm-sans);
  color: var(--light-black);
  text-align: left;
  align-items: center;
  width: 130px;
  height: 18px;
}
.ellipseParent,
.frameChild1 {
  position: absolute;
  top: 20px;
  left: 1024px;
  width: 192px;
  height: 48px;
}
.frameChild1 {
  top: 28px;
  left: 181px;
  width: 36.58px;
  height: 36.09px;
}
.lightLogoLeft5LinksCeParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 88px;
}
.createADao {
  position: relative;
  background-color: var(--light-white);
  width: 100%;
  height: 1389px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xs);
  color: var(--color-gray-300);
  font-family: var(--font-dm-sans);
}
